<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LD#28 - You Only Get One</title>
  <link rel="stylesheet" href="style.css">
  <link href='http://fonts.googleapis.com/css?family=Changa+One' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width">
</head>
<body>

  <div id="container">
    <header>
      <h1 class="title">You <em>Must</em> Only Get ONE</h1>
      <div id="stats">
        <div id="score">
          0000000000000000
        </div>
        <div id="timebar">
          <div id="time"></div>
        </div>
      </div>
      <div id="help"></div>
    </header>

    <div id="game">
      <div id="loading">
        <progress></progress>
        <div>
          Loading...
        </div>
      </div>
    </div>
  </div>

  <footer>
    <a href="./#nomusic" style="float: right; margin-right: 10px">♬ stop the music !</a>
    <a href="http://twitter.com/greweb">@greweb</a>
    - 2013
    - <a href="http://ludumdare.com/compo/">LD#28</a>
    - <a href="http://github.com/gre/ld28">github</a>
  </footer>

  <audio id="music" autoplay muted loop>
    <source src="./assets/ld28.ogg" type="audio/ogg"></source>
    <source src="./assets/ld28.mp3" type="audio/mpeg"></source>
  </audio>
  <script type="text/javascript">(function(){
    var music = document.getElementById("music");
    function onhashchange () {
      var on = location.hash.indexOf("nomusic") === -1;
      music.muted = !on;
    }
    onhashchange();
    window.onhashchange = onhashchange;
  }());
  </script>

  <script src="app.js"></script>
</body>
</html>
